<div class='md-padding'>
    <div layout="row">
        <div class="md-title"><span><md-icon class="md-warn">person_outline</md-icon> Change Password</span></div>
    </div>
    <hr class="hr-bottom">
    <div layout="row" class="md-headline" data-ng-if="vm.ErrorMessage">
        <span class="md-warn md-hue1"> {{::vm.ErrorMessage}}</span>
    </div>
    <md-content>
        <form name="customerForm">
            <div layout="row">
                <md-input-container class="md-block">
                    <label>Old Password</label>
                    <md-icon style="color: dodgerblue;">key</md-icon>
                    <input name="name" type="password" md-maxlength="8" required ng-model="vm.user.oldPassword" />
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container class="md-block">
                    <label>New Password</label>
                    <md-icon>key</md-icon>
                    <input name="name" type="password" md-maxlength="8" required ng-model="vm.user.newPassword" />
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container class="md-block">
                    <label>Confirm</label>
                    <md-icon style="md-primary">key</md-icon>
                    <input name="name" type="password" md-maxlength="8" required ng-model="vm.user.confirmPassword" />
                </md-input-container>
            </div>
        </form>
        <hr class="hr-bottom">
        <div layout="row">
            <span flex></span>
            <md-button>
                <md-icon class="green-button">arrow_back</md-icon>
                Back
            </md-button>
            <md-button data-ng-click="">
                <md-icon class="md-warn">cancel</md-icon>
                Cancel
            </md-button>
            <md-button class="md-primary" data-ng-click="vm.changePassword()">
                <md-icon>save</md-icon>
                Change Password
            </md-button>
        </div>
    </md-content>
</div>